/* فونت IRANSans با تمام وزن‌ها */
@font-face {
  font-family: "IRANSans";
  src: url("../fonts/IRANSans/IRANSansWeb_FaNum_Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IRANSans";
  src: url("../fonts/IRANSans/IRANSansWeb_FaNum_Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IRANSans";
  src: url("../fonts/IRANSans/IRANSansWeb_FaNum_Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IRANSans";
  src: url("../fonts/IRANSans/IRANSansWeb_FaNum_Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IRANSans";
  src: url("../fonts/IRANSans/IRANSansWeb_FaNum.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
