@import url("./variables.css");
@import url("./top-bar.css");
@import url("./landing.css");
@import url("./courses-section.css");

/* Defaul Style Start  */

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  direction: rtl;
  font-family: var(--font-family);
  font-size: 1.6rem;
  line-height: 1.6;
  background-color: var(--white-color);
  color: var(--black-color);
}
a {
  text-decoration: none;
  color: inherit;
}
i {
  user-select: none;
  font-style: normal;
}
img {
  width: 100%;
}
.sppp {
  height: 20rem;
}
/* Defaul Style End  */
