/* topbar start  */
.top-bar {
  color: var(--black-color);
  background-color: #f0f2f7;
  padding: 1.5rem 0;
}
.top-bar__content {
  display: flex;
  align-items: center;
  padding: 0 1.2rem;
  justify-content: space-between;
}
.top-bar__right ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.top-bar__left {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.top-bar__left svg,
.top-bar__left i {
  color: var(--primary-color);
}
.top-bar__link {
  position: relative;
  transition: all 0.3s ease;
}

.top-bar__link::after {
  content: "";
  position: absolute;
  top: 12px;
  right: -10px;
  width: 0;
  height: 5px;
  background-color: var(--primary-color);
  border-radius: 10px;
  transition: all 0.3s ease;
}
.top-bar__link:hover::after {
  width: 8px;
}
/* topbar end  */
